/* Define styles for the header */
header {
  border-bottom: 1px solid #d5d5d5;
}

.header nav ul {
  display: flex;
}

header ul li:first-child {
  width: 20%;
  font-size: 24px;
}

header ul li:not(:first-child) {
  font-size: 18px;
  width: 80% / 5;
}

header ul li {
  display: inline-block;
  position: relative;
}

header ul li a {
  display: block;
  padding: 10px;
  color: rgb(79, 79, 79);
  font-weight: bold;
}

a {
  text-decoration: none;
  color: rgb(79, 79, 79);
}

a:hover {
  color: lightseagreen;
  text-decoration: underline;
}

/* Define styles for the content area */
.content {
  display: flex;
  position: relative;
}

main {
  text-align: justify;
  width: 95%;
  padding: 2%;
}

#profile {
  width: 20%;
  padding: 2%;
  text-align: justify;
  text-align: center;
}

#profile img {
  width: 80%;
  border-radius: 100%;
  box-shadow: 0 0 0 4px rgb(255, 255, 255), 0 0 0 5px rgb(79, 79, 79);
}

main p {
  font-size: 18px;
}

/* Define styles for the footer */
footer {
  border-top: 1px solid #d5d5d5;
  color: rgb(79, 79, 79);
  padding: 5px;
  height: 50px;
  text-align: center;
}

h1 {
  padding: 5px;
  color: rgb(60, 60, 60);
  border-bottom: 1px solid #d5d5d5;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

body {
  margin: 0;
  padding: 0;
}

header, footer {
  padding: 20px;
  text-align: center;
  flex-shrink: 0;
  border-bottom: 1px solid #d5d5d5;
  border-top: 1px solid #d5d5d5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* for resume */
iframe {
  width: 95%;
  height: 800px;
  padding: 5px;
}
